* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(bgbatik2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 45px;
    background: rgba(0,0,0,0.7);
    position: sticky;
    top: 0;
}

nav h2 {
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 35px;
}

nav ul li {
    list-style: none;
    cursor: pointer;
    transition: .3s;
}

nav ul li:hover {
    color: gold;
}

.page {
    display: none;
    padding: 50px 80px;
}

.page.active {
    display: block;
}

.banner h1 {
    font-size: 44px;
    text-shadow: 3px 3px 7px black;
}

.banner button {
    padding: 14px 26px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background: gold;
    border-radius: 8px;
}

.grid {
    margin-top: 35px;
    display: flex;
    gap: 25px;
}

.card {
    width: 250px;
    background: rgba(255,255,255,0.8);
    border-radius: 14px;
    padding: 15px;
    cursor: pointer;
    color: black;
    transition: .3s;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.card:hover {
    transform: scale(1.07);
    background: gold;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 420px;
    padding: 25px;
    background: white;
    color: black;
    border-radius: 15px;
    text-align: center;
}

.popup img {
    width: 100%;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 10px;
}
